html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.container {
}

.activity_list {
  list-style: none;
  display: flex;
  flex-direction: column;

  max-height: 50vh;
  overflow: scroll;
}

.activity_container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.activity_name {
}

.activity_movingtime {
}

.activity_distance {
}

.activity_speed {
}

.activity_elapsedtime {
}
